.root {

}

.root .text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.root .text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}